DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=mundial_user
DB_PASSWORD=mundial_pass
DB_NAME=mundial2026
JWT_SECRET=cambia_este_secret_en_produccion
NODE_ENV=development
PORT=3001
ADMIN_USERCODE=ADM
ADMIN_PASSWORD=tu_password_admin
